# Data Science Project Workflow

## Project Overview
- **Objective**: Define the problem and goals of the project.
- **Milestones**: Data Collection, Exploration, Preprocessing, Advanced Analysis, Model Development, Deployment, and Final Documentation.

---

# Team Information

## Team Members
- **Name**: saif sameh mohamed  
  **Email**: saif.elsanafery@gmail.com 
  
  **Role**: Data Scientist

- **Name**: Nada Mohamed Gamal  
  **Email**: nadagamal.ng33@gmail.com  
  **Role**: data scientist

- **Name**: [Insert Name]  
  **Email**: [Insert Email]  
  **Role**: [Insert Role]

- **Name**: [Insert Name]  
  **Email**: [Insert Email]  
  **Role**: [Insert Role]

- **Name**: [Insert Name]  
  **Email**: [Insert Email]  
  **Role**: [Insert Role]

- **Name**: [Insert Name]  
  **Email**: [Insert Email]  
  **Role**: [Insert Role]

## Additional Information
- **Organization**: egypt digital pioneer intiative
- **Project Timeline**: [02/16/2025 - End Date]  
- **Tools Used**: [pandas,matplotlib]
- **Contact for Inquiries**: [saif.elsanafery@gmail.com]

---

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Milestone 1: Data Collection, Exploration, and Preprocessing

## Data Collection
- Acquire a dataset from reliable sources (e.g., Kaggle, UCI Repository, or APIs).
- **Scraping Data**:
  - Increase dataset size through web scraping or APIs (e.g., Selenium, BeautifulSoup).
  - Explore public repositories or other accessible sources for additional data.

In [2]:
# taking what i need from the data (300k)
df=pd.read_csv("E:\AMIT\project data\heart_2020_cleaned.csv")
df['HeartDisease'].value_counts()
df1=df[df['HeartDisease']=='Yes']
df1.value_counts()

HeartDisease  BMI    Smoking  AlcoholDrinking  Stroke  PhysicalHealth  MentalHealth  DiffWalking  Sex     AgeCategory  Race   Diabetic  PhysicalActivity  GenHealth  SleepTime  Asthma  KidneyDisease  SkinCancer
Yes           28.06  Yes      No               No      0               0             No           Male    65-69        White  No        Yes               Very good  8          No      No             No            3
              26.45  Yes      No               No      0               0             No           Male    65-69        White  No        Yes               Good       7          No      No             No            3
              27.81  Yes      No               No      0               0             No           Female  70-74        White  No        Yes               Very good  8          No      No             No            3
              22.24  Yes      No               No      0               0             No           Male    75-79        White  No        Yes               Very good  7          No      No             No            3
              26.63  No       No               No      0               0             No           Female  80 or older  White  No        Yes               Good       8          No      No             No            3
                                                                                                                                                                                                                    ..
              14.63  No       No               No      30              0             Yes          Female  65-69        White  No        Yes               Poor       7          Yes     No             No            1
              14.70  Yes      No               Yes     0               0             No           Female  70-74        White  No        Yes               Good       7          No      Yes            Yes           1
              14.75  Yes      Yes              No      30              30            No           Male    45-49        White  No        No                Poor       4          No      No             No            1
              14.78  No       No               No      0               0             Yes          Male    65-69        White  Yes       Yes               Fair       8          No      No             No            1
              13.53  Yes      No               No      30              30            Yes          Female  60-64        White  No        No                Poor       4          No      Yes            No            1
Name: count, Length: 27261, dtype: int64

In [3]:
df2=df[df['HeartDisease']=='No']
df2=df2.iloc[:40000]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40000 entries, 0 to 43621
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      40000 non-null  object
 1   BMI               40000 non-null  float64
 2   Smoking           40000 non-null  object
 3   AlcoholDrinking   40000 non-null  object
 4   Stroke            40000 non-null  object
 5   PhysicalHealth    40000 non-null  int64
 6   MentalHealth      40000 non-null  int64
 7   DiffWalking       40000 non-null  object
 8   Sex               40000 non-null  object
 9   AgeCategory       40000 non-null  object
 10  Race              40000 non-null  object
 11  Diabetic          40000 non-null  object
 12  PhysicalActivity  40000 non-null  object
 13  GenHealth         40000 non-null  object
 14  SleepTime         40000 non-null  int64
 15  Asthma            40000 non-null  object
 16  KidneyDisease     40000 non-null  object
 17  SkinCancer        40000 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 5.8+ MB

In [4]:
full_data=pd.concat([df1,df2])
full_data.info()
full_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 67373 entries, 5 to 43621
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      67373 non-null  object
 1   BMI               67373 non-null  float64
 2   Smoking           67373 non-null  object
 3   AlcoholDrinking   67373 non-null  object
 4   Stroke            67373 non-null  object
 5   PhysicalHealth    67373 non-null  int64
 6   MentalHealth      67373 non-null  int64
 7   DiffWalking       67373 non-null  object
 8   Sex               67373 non-null  object
 9   AgeCategory       67373 non-null  object
 10  Race              67373 non-null  object
 11  Diabetic          67373 non-null  object
 12  PhysicalActivity  67373 non-null  object
 13  GenHealth         67373 non-null  object
 14  SleepTime         67373 non-null  int64
 15  Asthma            67373 non-null  object
 16  KidneyDisease     67373 non-null  object
 17  SkinCancer        67373 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 9.8+ MB

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,Yes,28.87,Yes,No,No,6,0,Yes,Female,75-79,Black,No,No,Fair,12,No,No,No
10,Yes,34.30,Yes,No,No,30,0,Yes,Male,60-64,White,Yes,No,Poor,15,Yes,No,No
35,Yes,32.98,Yes,No,Yes,10,0,Yes,Male,75-79,White,Yes,Yes,Poor,4,No,No,Yes
42,Yes,25.06,No,No,No,0,0,Yes,Female,80 or older,White,Yes,No,Good,7,No,No,Yes
43,Yes,30.23,Yes,No,No,6,2,Yes,Female,75-79,White,Yes,Yes,Fair,8,No,Yes,No

## Dataset Description
- Create a table to explain:

 Features Overview
Target Variable:

HeartDisease → (0 = No, 1 = Yes)

Demographics:

Sex → (0 = Female, 1 = Male)

AgeCategory → Age group (Encoded values)

Race → Ethnic background (Encoded values)

Health Metrics:

BMI → Body Mass Index

PhysicalHealth → Number of days with poor physical health in the past 30 days

MentalHealth → Number of days with poor mental health in the past 30 days

SleepTime → Average sleep duration in hours

Medical History:

Stroke → History of stroke (0 = No, 1 = Yes)

Diabetic → Diabetes status (0 = No, 1 = Yes)

Asthma → Asthma diagnosis (0 = No, 1 = Yes)

KidneyDisease → Chronic kidney disease (0 = No, 1 = Yes)

SkinCancer → History of skin cancer (0 = No, 1 = Yes)

Lifestyle Factors:

Smoking → Smoker status (0 = No, 1 = Yes)

AlcoholDrinking → Regular alcohol consumption (0 = No, 1 = Yes)

PhysicalActivity → Engages in physical activity (0 = No, 1 = Yes)

Mobility & General Health:

DiffWalking → Difficulty walking or climbing stairs (0 = No, 1 = Yes)

GenHealth → General health rating (Encoded values from poor to excellent)

## Data Exploration
- Summary statistics (mean, median, variance).
- Identify missing values, duplicates, and outliers.
- Data distribution visualizations: histograms, box plots, scatter plots.

In [5]:
full_data.info()
full_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 67373 entries, 5 to 43621
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      67373 non-null  object
 1   BMI               67373 non-null  float64
 2   Smoking           67373 non-null  object
 3   AlcoholDrinking   67373 non-null  object
 4   Stroke            67373 non-null  object
 5   PhysicalHealth    67373 non-null  int64
 6   MentalHealth      67373 non-null  int64
 7   DiffWalking       67373 non-null  object
 8   Sex               67373 non-null  object
 9   AgeCategory       67373 non-null  object
 10  Race              67373 non-null  object
 11  Diabetic          67373 non-null  object
 12  PhysicalActivity  67373 non-null  object
 13  GenHealth         67373 non-null  object
 14  SleepTime         67373 non-null  int64
 15  Asthma            67373 non-null  object
 16  KidneyDisease     67373 non-null  object
 17  SkinCancer        67373 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 9.8+ MB

                BMI  PhysicalHealth  MentalHealth     SleepTime
count  67373.000000    67373.000000  67373.000000  67373.000000
mean      28.519426        4.975109      4.210797      7.124798
std        6.411306        9.591404      8.400069      1.589251
min       12.210000        0.000000      0.000000      1.000000
25%       24.210000        0.000000      0.000000      6.000000
50%       27.440000        0.000000      0.000000      7.000000
75%       31.660000        4.000000      4.000000      8.000000
max       87.050000       30.000000     30.000000     24.000000

In [6]:
full_data['HeartDisease'].value_counts()

HeartDisease
No     40000
Yes    27373
Name: count, dtype: int64

In [7]:
# encoding every yes , no to 1,0
full_data=full_data.replace("No",0)
full_data=full_data.replace("Yes",1)
# encoding the diabetic feature
full_data['Diabetic']=full_data['Diabetic'].replace("No, borderline diabetes",0)
full_data['Diabetic']=full_data['Diabetic'].replace("Yes (during pregnancy)",1)

# encoding the sex
full_data['Sex']=full_data["Sex"].replace("Male",1)
full_data['Sex']=full_data["Sex"].replace("Female",0)

# encoding the races 
full_data['Race']=full_data["Race"].replace("White",0)
full_data['Race']=full_data["Race"].replace("Black",1)
full_data['Race']=full_data["Race"].replace("Asian",2)
full_data['Race']=full_data["Race"].replace("American Indian/Alaskan Native",3)
full_data['Race']=full_data["Race"].replace("Hispanic",4)
full_data['Race']=full_data["Race"].replace("Other",5)


full_data.head(20)

C:\Users\basma\AppData\Local\Temp\ipykernel_22832\890228930.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_data=full_data.replace("Yes",1)
C:\Users\basma\AppData\Local\Temp\ipykernel_22832\890228930.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_data['Diabetic']=full_data['Diabetic'].replace("Yes (during pregnancy)",1)
C:\Users\basma\AppData\Local\Temp\ipykernel_22832\890228930.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_data['Sex']=full_data["Sex"].replace("Female",0)
C:\Users\basma\AppData\Local\Temp\ipykernel_22832\890228930.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_data['Race']=full_data["Race"].replace("Other",5)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,1,28.87,1,0,0,6,0,1,0,75-79,1,0,0,Fair,12,0,0,0
10,1,34.30,1,0,0,30,0,1,1,60-64,0,1,0,Poor,15,1,0,0
35,1,32.98,1,0,1,10,0,1,1,75-79,0,1,1,Poor,4,0,0,1
42,1,25.06,0,0,0,0,0,1,0,80 or older,0,1,0,Good,7,0,0,1
43,1,30.23,1,0,0,6,2,1,0,75-79,0,1,1,Fair,8,0,1,0
45,1,20.37,1,0,0,3,0,0,0,70-74,0,0,0,Poor,10,0,0,0
77,1,34.33,0,0,0,0,0,0,0,55-59,0,0,1,Good,8,0,0,0
78,1,28.29,1,0,0,30,30,0,0,70-74,0,1,1,Poor,9,0,1,0
101,1,24.68,1,0,0,30,30,1,1,70-74,0,0,1,Fair,8,0,0,1
127,1,33.65,0,0,0,2,0,1,0,70-74,0,1,0,Fair,4,0,0,0
129,1,25.06,0,0,0,2,0,0,0,60-64,0,1,1,Very good,8,0,0,1
131,1,37.59,1,0,0,0,0,0,0,70-74,0,0,0,Poor,7,0,0,0
140,1,23.73,0,0,0,0,0,0,1,75-79,0,0,1,Good,6,0,0,1
141,1,29.29,1,0,0,0,0,1,0,70-74,5,0,1,Very good,5,1,0,1
142,1,31.48,0,1,1,20,20,1,1,65-69,1,0,0,Fair,7,1,0,0
148,1,32.14,1,0,0,0,0,0,1,75-79,0,0,1,Good,8,1,0,1
149,1,23.34,0,0,0,0,0,0,0,70-74,0,1,1,Good,7,0,1,1
162,1,26.29,0,0,0,30,30,1,0,80 or older,0,0,0,Poor,10,0,0,1
165,1,28.89,1,0,0,3,30,1,0,75-79,0,1,0,Fair,8,1,0,1
181,1,26.37,0,0,0,5,0,1,0,70-74,0,1,1,Fair,8,0,0,0

In [ ]:
# encoding the general health 
encoding = {'Poor': 0, 'Fair': 1, 'Good': 2, 'Very good': 3, 'Excellent': 4}
full_data['GenHealth']=full_data['GenHealth'].map(encoding).astype(int)

In [ ]:
# encoding the age categories
age_encoding = {
        '18-24': 0, '25-29': 1, '30-34': 2, '35-39': 3, '40-44': 4, 
        '45-49': 5, '50-54': 6, '55-59': 7, '60-64': 8, '65-69': 9, 
        '70-74': 10, '75-79': 11, '80 or older': 12
    }
full_data['AgeCategory']=full_data['AgeCategory'].map(age_encoding).astype(int)

In [10]:
full_data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,1,28.87,1,0,0,6,0,1,0,11,1,0,0,1,12,0,0,0
10,1,34.30,1,0,0,30,0,1,1,8,0,1,0,0,15,1,0,0
35,1,32.98,1,0,1,10,0,1,1,11,0,1,1,0,4,0,0,1
42,1,25.06,0,0,0,0,0,1,0,12,0,1,0,2,7,0,0,1
43,1,30.23,1,0,0,6,2,1,0,11,0,1,1,1,8,0,1,0

In [ ]:
# droping the duplicates 
full_data.duplicated().sum()
full_data.drop_duplicates()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,1,28.87,1,0,0,6,0,1,0,11,1,0,0,1,12,0,0,0
10,1,34.30,1,0,0,30,0,1,1,8,0,1,0,0,15,1,0,0
35,1,32.98,1,0,1,10,0,1,1,11,0,1,1,0,4,0,0,1
42,1,25.06,0,0,0,0,0,1,0,12,0,1,0,2,7,0,0,1
43,1,30.23,1,0,0,6,2,1,0,11,0,1,1,1,8,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43617,0,25.11,0,0,0,0,2,0,1,0,0,0,1,3,8,0,0,0
43618,0,34.01,1,0,0,0,1,0,0,4,0,0,1,3,8,1,0,0
43619,0,27.27,0,1,0,0,0,0,1,2,0,0,1,3,7,0,0,0
43620,0,32.26,0,0,0,0,0,0,1,11,1,0,0,2,6,0,0,0
43621,0,36.96,1,0,0,0,0,1,0,6,1,0,0,2,7,0,0,0

In [12]:
full_data.info()
full_data.head(20)

<class 'pandas.core.frame.DataFrame'>
Index: 67373 entries, 5 to 43621
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HeartDisease      67373 non-null  int64
 1   BMI               67373 non-null  float64
 2   Smoking           67373 non-null  int64
 3   AlcoholDrinking   67373 non-null  int64
 4   Stroke            67373 non-null  int64
 5   PhysicalHealth    67373 non-null  int64
 6   MentalHealth      67373 non-null  int64
 7   DiffWalking       67373 non-null  int64
 8   Sex               67373 non-null  int64
 9   AgeCategory       67373 non-null  int64
 10  Race              67373 non-null  int64
 11  Diabetic          67373 non-null  int64
 12  PhysicalActivity  67373 non-null  int64
 13  GenHealth         67373 non-null  int64
 14  SleepTime         67373 non-null  int64
 15  Asthma            67373 non-null  int64
 16  KidneyDisease     67373 non-null  int64
 17  SkinCancer        67373 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 9.8 MB

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,1,28.87,1,0,0,6,0,1,0,11,1,0,0,1,12,0,0,0
10,1,34.30,1,0,0,30,0,1,1,8,0,1,0,0,15,1,0,0
35,1,32.98,1,0,1,10,0,1,1,11,0,1,1,0,4,0,0,1
42,1,25.06,0,0,0,0,0,1,0,12,0,1,0,2,7,0,0,1
43,1,30.23,1,0,0,6,2,1,0,11,0,1,1,1,8,0,1,0
45,1,20.37,1,0,0,3,0,0,0,10,0,0,0,0,10,0,0,0
77,1,34.33,0,0,0,0,0,0,0,7,0,0,1,2,8,0,0,0
78,1,28.29,1,0,0,30,30,0,0,10,0,1,1,0,9,0,1,0
101,1,24.68,1,0,0,30,30,1,1,10,0,0,1,1,8,0,0,1
127,1,33.65,0,0,0,2,0,1,0,10,0,1,0,1,4,0,0,0
129,1,25.06,0,0,0,2,0,0,0,8,0,1,1,3,8,0,0,1
131,1,37.59,1,0,0,0,0,0,0,10,0,0,0,0,7,0,0,0
140,1,23.73,0,0,0,0,0,0,1,11,0,0,1,2,6,0,0,1
141,1,29.29,1,0,0,0,0,1,0,10,5,0,1,3,5,1,0,1
142,1,31.48,0,1,1,20,20,1,1,9,1,0,0,1,7,1,0,0
148,1,32.14,1,0,0,0,0,0,1,11,0,0,1,2,8,1,0,1
149,1,23.34,0,0,0,0,0,0,0,10,0,1,1,2,7,0,1,1
162,1,26.29,0,0,0,30,30,1,0,12,0,0,0,0,10,0,0,1
165,1,28.89,1,0,0,3,30,1,0,11,0,1,0,1,8,1,0,1
181,1,26.37,0,0,0,5,0,1,0,10,0,1,1,1,8,0,0,0

# Milestone 2: Advanced Data Analysis and Feature Engineering

## Statistical Analysis
- Conduct tests such as t-tests, ANOVA, and chi-squared to explore relationships.

## Feature Engineering
- Create derived features based on domain knowledge.
- Apply transformations such as normalization, log scaling, or polynomial features.

## Data Visualization
- Generate insightful visualizations:
  - Correlation heatmaps, pair plots.
  - Trends and comparisons using bar charts, line charts, and dashboards.


---

# Milestone 3: Machine Learning Model Development and Optimization

## Model Selection
- Choose appropriate models for the problem type (classification, regression, clustering, etc.).

## Model Training
- Split data into training, validation, and testing sets.
- Address imbalances using techniques like SMOTE or stratified sampling.

## Model Evaluation
- Metrics to consider: Accuracy, Precision, Recall, F1-score, RMSE, etc.
- Visual tools: Confusion matrices, ROC curves.

## Hyperparameter Tuning
- Techniques: Grid Search, Random Search, or advanced methods like Bayesian Optimization.

## Model Comparison
- Compare multiple models and justify the final model selection.


---

# Milestone 4: Deployment and Monitoring

## Deployment
- Deploy the model as a REST API (Flask, FastAPI) or interactive dashboards (Streamlit, Dash).
- Host on cloud platforms (AWS, Azure, GCP) or local servers.

## Monitoring
- Set up performance tracking and alert systems for issues.
- Monitor metrics for potential model drift or anomalies.

## Retraining Strategy
- Plan for periodic retraining with new or updated data.


---

# Milestone 5: Final Documentation and Presentation

## Final Report
- Summarize all project phases, including methodologies and insights.
- Provide actionable recommendations based on findings.

## Final Presentation
- Create a presentation for stakeholders, highlighting key results.
- Include a demo of the deployed application or model.

## Future Improvements
- Suggest areas for enhancement:
  - Incorporating more diverse data.
  - Experimenting with additional algorithms.
  - Optimizing deployment for scalability.

---

# Additional Sections

## Challenges Faced
- Document key challenges encountered during the project lifecycle.

## Lessons Learned
- Reflect on insights and skills gained through the project.

## References
- List resources for datasets, tools, and techniques utilized.

---

# More Sections for Specific Projects

## Ethical Considerations
- Discuss privacy, fairness, or other ethical implications.

## Business Impact
- Highlight how the findings address the original objective.

## Team Contributions
- Acknowledge contributions from team members and collaborators.


---